{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid"></div>
  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid p-5" src="{% static 'images/bank1.png' %}" alt="">
    </div>

    <div class="col-md-5 p-5">
      <h2 class="mt-5">BANK WITH US</h2>
      <br>
      <P>Investing with BlueSilo Mortgage Bank offers a great opportunity for financial growth through secure and flexible products. With its strong reputation and strategic focus on real estate and mortgage financing, BlueSilo provides consistent returns while minimizing risk, making it an ideal choice for investors seeking sustainable financial success</P>
    </div>
      
    </div>
  </div>
</div>
{% endblock content %}